.footer {
  font-family: 'Baskervville', serif;
  padding: 2rem 0;
  background: var(--lightGrey);
  font-size: 1.2rem;
}
.footerBody {
  /* font-family: 'Muli', sans-serif; */
}
.flexCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 94vw;
  height: 10vh;
  padding-left: 3vw;
  padding-right: 3vw;
  margin: 0 auto;
}
.flexLine {
  height: 5vh;
  width: 40vw;
  margin-top: 5vh;

  border-top: solid #cacaca 1px;
}
.taCenter {
  display: flex;
  width: 55rem;
  justify-content: center;
  margin: 0 auto;
  color: var(--primary);
}
.aTag {
  display: flex;
  justify-content: center;
  align-items: center;

  /* margin: 0 auto; */
}
.ul {
  display: flex;
  height: 7rem;
  width: 80rem;
  opacity: 0.2;
  margin-bottom: 0.2rem;
  margin-left: auto;
  margin-right: auto;
}
.spacer {
  margin-right: 0.5em;
}
.igLogo {
  height: 7rem;
  margin-right: 1em;
}
.footer a {
  font-family: 'Muli', sans-serif;
  /* color: black; */
  text-decoration: none;
}
